<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feitian.dao.ProductMapper">

    <resultMap id="result" type="com.feitian.model.Product">
        <id property="id" column="id" />
        <result property="productName" column="productName"/>
        <result property="quantity" column="quantity"/>
    </resultMap>

    <select id="countById" resultType="int">
        select count(1) from product
    </select>
    <select id="getProductList" resultMap="result">
        select *  from product
    </select>

    <select id="getQuantityById" parameterType="int" resultType="int">
        select quantity from product where id = #{id}
    </select>

    <update id="updateQuantity" parameterType="int">
        update product set quantity = #{quantity} where id = #{id}
    </update>
</mapper>